/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  cursor: nwse-resize;
  width: 20px;
  height: 20px;
}

.box-resizer-grip .icon-box {
  background: var(--figma-color-icon);
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  pointer-events: none;
}

/* List */
ul.list,
ul.rich-list {
  flex: 1;
  padding: 1px 0;
  overflow-y: auto;
}

ul.list--loading,
ul.rich-list--loading {
  display: flex;
  height: 100%;
}

ul.list--message,
ul.rich-list--message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ul.list--fill {
  flex: 1;
}

div.list-control {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-xsmall);
}

/* Callout */
div.onboarding .label {
  width: auto;
}

div.callout {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.callout--centered {
  margin: auto;
}

/* User */
div.user {
  display: flex;
  align-items: center;
  gap: var(--size-xxsmall);
}

div.user__avatar {
  flex: 0 0 var(--size-small);
  border-radius: var(--size-small);
  width: var(--size-small);
  height: var(--size-small);
  overflow: hidden;
}

div.user__avatar img {
  width: 100%;
  height: 100%;
}

div.user__name {
  text-wrap: nowrap;
}

/* Color Chip */
.color-chip {
  position: relative;
  flex: 0 0 16px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  border-radius: 2px;
  width: var(--size-xsmall);
  height: var(--size-xsmall);
}
