/* Box resizer grip */
.box-resizer-grip {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  justify-content: end;
  align-items: end;
  cursor: nwse-resize;
  width: var(--size-xxsmall);
  height: var(--size-xsmall);
  padding: var(--size-xxxsmall);
}
