/* Box resizer grip */
.box-resizer-grip {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: nwse-resize;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-resizer-grip .icon-box {
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  background: var(--figma-color-icon);
  pointer-events: none;
}

/* List */
ul.list,
ul.rich-list {
  overflow-y: auto;
  padding: 1px 0;
}

ul.list--loading,
ul.rich-list--loading {
  display: flex;
  height: 100%;
}

ul.list--message,
ul.rich-list--message {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

ul.list--fill {
  flex: 1;
}

div.list-control {
  display: flex;
  padding: var(--size-xsmall);
  justify-content: center;
  align-items: center;
}

/* Callout */
div.onboarding .label {
  width: auto;
}

div.onboarding__callout {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.onboarding__callout--centered {
  margin: auto;
}

div.onboarding__callout div.onboarding-tip {
  justify-content: center;
}

div.onboarding__actions {
  display: flex;
  gap: var(--size-xxsmall);
  justify-content: center;
  padding: 0 calc(var(--size-xsmall) + var(--size-xxxsmall));
}

/* Truncated */
div.truncated {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 0 0 var(--size-xxxsmall);
}

div.truncated span {
  white-space: nowrap;
}

/* User */
div.user {
  display: flex;
  gap: var(--size-xxsmall);
  align-items: center;
}

div.user__avatar {
  width: var(--size-small);
  height: var(--size-small);
  border-radius: var(--size-small);
  overflow: hidden;
}

div.user__avatar img {
  width: 100%;
  height: 100%;
}

/* Group */
div.group {
  padding: var(--size-xxsmall) 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-xxxsmall);
}

div.group + div.group {
  border-top: 1px solid var(--figma-color-border);
}

div.group__item {
  padding: 0 var(--size-xsmall);
}

div.group__item--tight {
  padding: 0 var(--size-xxsmall);
}

/* Color Chip */
.color-chip {
  width: var(--size-xsmall);
  height: var(--size-xsmall);
  border-radius: 2px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  outline-offset: -1px;
  flex: 0 0 16px;
}
