/* Layout */
html,
body {
  overflow: hidden;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

div#app {
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

div#app.dragged-ghost {
  cursor: grabbing;
}

main {
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* Idea Edit */
div.idea-edit {
  display: flex;
  align-items: flex-start;
  gap: var(--size-xxxsmall);
  border-top: 1px solid var(--figma-color-border);
  padding: var(--size-xxsmall) var(--size-xsmall);
  width: 100%;
  min-height: var(--size-xxlarge);
}

div.idea-edit__text {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: var(--size-xxsmall);
}

div.idea-edit__text .input,
div.idea-edit__type .select-menu {
  flex: 1;
}

/* Layout */
section.context {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}
