/* Layout */
html,
body {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

div#app {
  cursor: default;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
}

div#app.dragged-ghost {
  cursor: grabbing;
}

main {
  display: flex;
  flex-direction: column;
  height: inherit;
}

/* Idea Edit */
div.idea-edit {
  display: flex;
  align-items: flex-start;
  gap: var(--size-xxxsmall);
  border-top: 1px solid var(--figma-color-border);
  padding: var(--size-xxsmall) var(--size-xsmall);
  width: 100%;
  min-height: var(--size-xxlarge);
}

div.idea-edit__text {
  display: flex;
  flex: 1;
  align-items: flex-start;
  gap: var(--size-xxsmall);
}

div.idea-edit__text .input,
div.idea-edit__type .select-menu {
  flex: 1;
}

/* Layout */
section.controller {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

div.controls {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

div.controls__control {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

div.controls__control--horizontal {
  flex-direction: row;
}

div.control__block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--size-xxsmall) 0;
  overflow-y: auto;
}

div.control__block--list {
  padding: var(--size-xxsmall) 0 0 0;
}

div.control__block--no-padding {
  padding: 0;
}

div.control__block--distributed {
  justify-content: space-between;
  overflow-y: revert;
}

div.controls__control--horizontal div.control__block {
  align-self: stretch;
}

div.controls__control--horizontal .control__block + .control__block {
  border-left: 1px solid var(--figma-color-border-disabled);
}

div.control__block__loader {
  margin: auto;
}

/* About */
div.about {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--size-xsmall) var(--size-small);
}

div.about > div {
  display: flex;
  flex-direction: column;
  gap: var(--size-xxsmall);
}

div.about p {
  margin: 0;
}

div.about__basic {
  display: flex;
  align-items: center;
  gap: var(--size-xsmall);
}

div.about__info {
  display: flex;
  align-items: center;
  color: var(--figma-color-text);
}

div.about__links {
  display: flex;
  align-items: center;
  color: var(--figma-color-text);
}
